
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <!-- Font CSS -->
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Poiret+One|Source+Sans+Pro:400,700" rel="stylesheet" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <div id="wrapper">
      <div id="content">

        {{ content }}

      </div> <!-- content -->
      <div id="footer">
        
        <a href="mailto:kyle.mahan@gmail.com"><img src="/assets/icons/gmail.png"/></a>&nbsp;
        <a href="https://github.com/kylewm"><img src="/assets/icons/github.png"/></a>&nbsp;
        <a href="https://twitter.com/kyle_wm"><img src="/assets/icons/twitter.png"/></a>&nbsp;
        <a href="http://www.flickr.com/photos/kindofblue115/"><img src="/assets/icons/flickr.png"/></a>&nbsp;
        <a href="https://www.facebook.com/kyle.mahan"><img src="/assets/icons/facebook.png"/></a>&nbsp;
        <a href="https://plus.google.com/117762887708957235787"><img src="/assets/icons/google-plus.png"/></a>&nbsp;
        <a href="http://www.linkedin.com/pub/kyle-mahan/3/207/349"><img src="/assets/icons/linkedin.png"/></a>&nbsp;
        <a type="application/rss+xml" href="/feed.xml"><img src="/assets/icons/rss.png"></a>
        <br/>

        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.

      </div> <!-- footer -->
    </div> <!-- wrapper -->
  </body>
</html> 
